*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header{
    background-color: #EFBA54;
    height: 100px;
}

main{
    padding: 50px 0;
}

footer{
    background-color: #BC3B59;
    height: 90px;
    color: white;
}

header,
footer{
    display: flex;
    align-items: center;
}

.container{
    width: 40%;
    margin: 0 auto;
    position: relative;
}

footer .container{
    display: flex;
    justify-content: space-between;
}

header h1{
    display: inline-block;
}

header img{
    position: absolute;
    width: 200px;
    right: 0;
    bottom: -100px;
}

#nameBurger{
    margin-bottom: 20px;
    padding:  15px 10px;
    font-size: 20px;

    background-color: #FDF5E4;
    border: none;
    border-radius: 5px;
}

ul{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;

    margin: 20px 0;
    height: 220px;
    list-style: none;
}

img{
    width: 30px;
}

li{
    margin: 20px 0;
}

li>*{
    vertical-align: middle;
}

li span{
    display: inline-block;
    margin: 0 10px;
}

li span:last-child{
    color: #BC3B59;
}

li input[type=checkbox]{
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0;
    pointer-events: none;
}

.toggle{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid lightgrey;
    background-color: white;

    color: black;
    text-align: center;
}

.toggle .fa-check{
    display: none;
    margin: auto;
    line-height: 20px;
}

.ingredients:checked ~ .toggle{
    border: none;
    background-color: #BC3B59;
}

.ingredients:checked ~ .toggle .fa-check{
    display: block;
}

.divCoupon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#coupon{
    flex-grow: 1;
    margin-left: 20px;
    padding: 5px 0;

    background-color: #FDF5E4;
    border: none;
    border-radius: 5px;
}

#calculate{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    padding: 15px 20px;

    background-color: #EFBA54;
    border: none;
    border-radius: 5px;
}
